
<div class="media">
  <div style="float:left;">
    <a class="media-left" href="#fake">
      <img alt="" class="media-object img-rounded" src="http://placehold.it/64x64">
    </a>
  </div>

  <div class="media-body" style="vertical-align:top;">
    <h4 class="media-heading" padding-left: 50px><%=@object.name%></h4>

    <ul>
      <li>
        <%=@object.description%> | £<%=@object.price%>/per night
      </li>
      <li><a href="ali.phipps1@gmail.com"> Contact host </a></li>
    </ul>

    check-in
    <input type="date" id="start_date" name="start_date"
    value="2019-11-20"
    min="2019-11-20" max="2019-11-20">

    <input type="date" id="start" name="trip-start"
       value="2019-11-20"
       min=<%=@object.start_date%> max=<%=@object.end_date%>

  </div>

</div>
